<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
</head>
<body>
     
    <h1><%=title %> в EJS</h1>
     

    <div>
                <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email&client_id=618140428834.679173140372&redirect_uri=https%3A%2F%2Fslack-calc-app.herokuapp.com%2Fapi%2Fauth%2Fuser">
                    <img src="https://api.slack.com/img/sign_in_with_slack.png" />
                </a>
            </div>

            <form action="/login" method="POST">
                <label>email</label><input type="text" name="username" />
                <label>pass</label><input type="password" />
                <input type="submit" />
            </form>
            
</body>
<html>